<h2> Create New Subject for people to vote on!</h2>

<%=error_messages%>

<%= form_for @subject do |f| %>
    <div>
        <%=f.label :title %>
        <%=f.text_field :title%>
    </div><br>
    
    <div>
        <%=f.label :description%>
        <%=f.text_area :description%>
    </div><br>
    
    <div>
        <%=f.label :option_1%>
        <%=f.text_field :option_1%>
    </div><br>
    
    <div>
        <%=f.label :option_2%>
        <%=f.text_field :option_2%>
    </div><br>
    
    
    
   

    <p> Select Category or Create a new one</p>
    
        <%=f.fields_for :category do |c|%>
        
        <div>
        <%=f.collection_select :category_id,  Category.all, :id, :title  %>
        </div>
        
        <div>
            <%=c.label :title%>
            <%=c.text_field :title%>
        </div>
        <%end%>
    


    <%= f.submit %>
<% end %>
        
    

    

